@tailwind base;
@tailwind components;
@tailwind utilities;


.input-field {
  border: 1px solid #ccc;
  padding: 0.75rem; /* Increase padding */
  width: 100%; /* Full width */
  height: 2.5rem; /* Increase height */
  transition: border-color 0.3s ease;
}

.input-field:hover,
.input-field:focus {
  border-color: #3FC060;
}


/* Custom CSS */
.input-fieldd {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #CBD5E0;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.input-field-custom {
  padding: 0.5rem; 
}

.btn-back {
  background-color: #4A90E2;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease;
}

.btn-submit {
  background-color: #4CAF50;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease;
}

/* Rainbow Animation */
@keyframes rainbow-animation {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.rainbow-text {
  background-image: linear-gradient(45deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
  background-size: 600% 600%;
  animation: rainbow-animation 5s ease infinite;
}

/* Apply Rainbow Animation to Submit Button */
.btn-submit:hover {
  animation: rainbow-animation 5s ease infinite;
}
.input-field-custom {
  padding: 0.5rem; 
}